<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="goBack()" style="font-size: 18px;" slot="start">
      <ion-icon name="arrow-back"></ion-icon>返回
    </ion-buttons>
    <ion-title>
      密码
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset="true">
    <ion-item>
      <ion-input name="Oldpassword" type="text" placeholder="旧密码" [(ngModel)]="Oldpassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="Newpassword1" type="text" placeholder="新密码" [(ngModel)]="Newpassword1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="Newpassword2" type="text" placeholder="重复新密码" [(ngModel)]="Newpassword2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button expand="full" color="primary" (click)="savepassword()">保存</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
